numpy==2.2.2
pillow==11.2.1
matplotlib==3.10.3
scikit-image==0.20.0
scikit-learn==1.7.0
joblib==1.5.1
optuna==4.4.0
pandas==2.2.2
tqdm==4.67.1
ultralytics==8.0.0
supervision==0.1.0
huggingface_hub==0.15.1